<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
  <style>
    /* Some basic styling for the table */
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>
  <h1>All Users</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Total Absence Days</th>
    </tr>
    <% users.forEach(function(user) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.total_absence_days %></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
